<div class="section bg-gray-50">
  <div class="hero">
    <div class="hero-content text-center px-5 py-12">
      <div class="max-w-md container" style="height: 200%;">
        <p class="pt-4"></p>
        <div class="flex justify-center mb-4">
        </div>
        <div class="flex justify-center mb-4">
          <%= image_tag "https://qr-official.line.me/sid/L/569pfhfs.png", class: 'w-64 mx-auto', size: '150x150' %>
        </div>

        <% if current_user %>
          <h2 class="text-2xl font-semibold mb-3">Welcome, <%= current_user.name %>!</h2>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <h2 class="text-2xl font-semibold mb-3">Welcome, Guest!</h2>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
        <% end %>

        <h1 class="text-3xl font-bold mb-3">調整ボーイ</h1>
        <div class="flex justify-center">
          <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="@508snqhw" style="display: none;"></div>
        </div>
        <div class="flex justify-center mt-10">
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
        <p class="pt-6"></p>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="hero-content text-center px-5 pb-20">
      <div class="max-w-md">
        <h2 class="text-4xl font-bold mb-5x">どんなとき使う？</h2>
        <h1 class="hidden">その１</h1>
        <h4 class="hidden">友達との予定の詳細を決めたい！</h4>
        <p class="hidden">友達と会う約束をしたのに</p>
        <p class="hidden">当日まで詳細が決まらないことありませんか？</p>
        <p class="hidden mb-5x">このアプリを使って何が決まってないのか明確にしましょう！</p>

        <h1 class="hidden">その２</h1>
        <h4>予定の存在を忘れる！</h4>
        <p>具体的な内容が決まっていない予定って存在自体忘れがちになりませんか？</p>
        <p>このアプリを使って人との予定をメモしましょう！</p>

        <h1 class="hidden">使い方</h1>
        <h4>予定の存在を忘れる！</h4>
        <p>具体的な内容が決まっていない予定って存在自体忘れがちになりませんか？</p>
        <p>このアプリを使って人との予定をメモしましょう！</p>
      </div>
    </div>
  </div>
  
  <div class="hero bg-gray-50">
    <div class="hero-content text-center px-5 py-12">
      <div class="max-w-md">
        <div class="flex justify-center mb-10">
          <div class="line-it-button mt-1" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="@508snqhw" style="display: none;"></div>
        </div>
        <div class="flex justify-center mb-4">
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
        <div class="flex justify-center">
          <%= image_tag "https://qr-official.line.me/sid/L/569pfhfs.png", class: 'w-64 mx-auto', size: '150x150' %>
        </div>
      </div>
    </div>
  </div>
</div>